@keyframes popin {
  0% {
    bottom: -50em;
  }

  100% {
    bottom: 0;
  }
}

.nook-appear,
.nook-enter {
  bottom: -50em;
}

.nook-appear-active,
.nook-enter-active {
  animation-name: popin;

  animation-timing-function: ease-in-out;
  bottom: 0;
}
.nook-appear-active {
  animation-duration: 5s;
}
.nook-enter-active {
  animation-duration: 2500ms;
}

.nook-enter-done {
  bottom: 0;
}

.nook-exit {
  bottom: 0;
}

.nook-exit-active {
  animation-name: popin;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
}

.nook-exit-done {
  bottom: -50em !important;
}

.nook {
  position: fixed;
  left: 0;
  bottom: 0;
}

.nook #raccoon {
  background-image: url(../assets/raccoon.png);
  background-size: 10em;
  width: 10em;
  height: 10em;
}
