@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Source+Sans+Pro&display=swap');

@tailwind base;

@tailwind components;

.title {
  @apply text-acBrown;
  @apply font-title;
  @apply text-4xl;
}

.btn {
  /* @apply rounded-xl; */
  border-radius: 1em;
  @apply shadow-md;
  @apply py-2;
  @apply px-8;
  @apply font-title;
  display: inline-block;
}

.btn:hover {
  @apply shadow-lg;
  color: inherit;
}

.btn-blue {
  @apply bg-acBlue;
  @apply text-acLight;
}

.btn-blue:hover {
  @apply text-acLight;
  outline: thick;
  outline-color: theme('colors.acYellow');
}

.card {
  @apply bg-acLight;
  /* @apply rounded-lg;  */
  border-radius: 1em;
  @apply shadow-xl;
  @apply p-10;
}

#nav_title:hover #the {
  @apply rotate-0;
}

body {
  @apply bg-acGreen;
  background-image: linear-gradient(
    45deg,
    #a4d4a4 10%,
    #88c9a1 10%,
    #88c9a1 50%,
    #a4d4a4 50%,
    #a4d4a4 60%,
    #88c9a1 60%,
    #88c9a1 100%
  );
  background-size: 35.36px 35.36px;
}

@tailwind utilities;
